*{margin: 0; padding: 0;}

.header-part{

    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    height: 500px;
}

.menu{
    background-color: floralwhite;
}
.menu ul{
    background-color: floralwhite;
    list-style-type: none;
}

.menu ul li{ 
    float: right;
  
}
.menu ul li a{
    text-decoration: none;
    color: orange;
    display: block;
    padding: 20px 10px;
    margin-left: 10px;
    margin-right: 5px;
    float: left;
}
.menu ul li:last-child{
    margin-right: 70px;
}
.menu ul li a:hover{
    color: gray;
}

.welcome-text{
   font-size:  50px;
}

.colour_lighter{
    color: darkorange;
}

.bio-color{

    color: mediumvioletred;
}

body{
    font-family: 'Poppins', sans-serif;
    widows: 100%;;
    
}
.half-div{
    width: 40%;
    float: left;
    margin-top: 30px;
    margin-left: 2%;
    padding-left: 5%;
}
.half-div img{
    width: 100%;
}
.Biography-part{
    background-image: url("images/biography-bg.png");
    height: 500px;
}

.latest{
    font-size: 50px;
    text-align: center;
}
.latest-section{
   widows: 100%;
}
.latest-work{
    width: 30%;
    height: 300px;
    margin-right: 3.33%;
    float: left;
}
